[submodule "external/meta.hpp"]
	path = external/meta.hpp
	url = git@github.com:michaeljhkim/meta.hpp.git
[submodule "external/ImGuizmo"]
	path = external/ImGuizmo
	url = https://github.com/CedricGuillemet/ImGuizmo.git
[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/michaeljhkim/imgui.git
	branch = docking
[submodule "build/source"]
	path = build/source
	url = git@github.com:michaeljhkim/YURRGOHT_ENGINE_ASSETS.git
[submodule "external/angelscript"]
	path = external/angelscript
	url = https://github.com/codecat/angelscript-mirror
