[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui.git

[submodule "external/ImGuizmo"]
	path = external/ImGuizmo
	url = https://github.com/CedricGuillemet/ImGuizmo.git
